<?xml version="1.0"?>
<configuration>
  <runtime>
    <runtime>
      <gcAllowVeryLargeObjects enabled="true"/>
    </runtime>
  </runtime>
  <connectionStrings>
    <add name="ArchivoCostosConnectionString" connectionString="Data Source=SERVIDOR2SP;Initial Catalog=ArchivoCostos;User ID=sa;Password=Qwer1234" providerName="System.Data.SqlClient"/>
    <!--<add name="ArchivoCostosConnectionString" connectionString="Data Source=.;Initial Catalog=ArchivoCostos;Integrated Security=True;" providerName="System.Data.SqlClient" />
   <add name="ConnectionString" connectionString="Dsn=CostosYpresupuestos;sourcedb;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes"
     providerName="System.Data.Odbc" />
   <add name="ConnectionString1" connectionString="Dsn=CostosYpresupuestos;sourcedb;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes"
     providerName="System.Data.Odbc" />
   <add name="ConnectionString2" connectionString="Dsn=CostosYpresupuestos;sourcedb;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes"
     providerName="System.Data.Odbc" />
   <add name="ConnectionString3" connectionString="Dsn=CostosYpresupuestos;sourcedb;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes"
     providerName="System.Data.Odbc" />
   <add name="ConnectionString4" connectionString="Dsn=CostosYpresupuestos;sourcedb;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes"
     providerName="System.Data.Odbc" />
   <add name="ConnectionString5" connectionString="Dsn=CostosYpresupuestos;sourcedb;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes"
     providerName="System.Data.Odbc" />
   <add name="ProjectServer_ReportingConnectionString" connectionString="Data Source=SERVIDOR2SP;Initial Catalog=ProjectServer_Reporting;User ID=sa;Password=Qwer1234"
     providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Dsn=CostosYpresupuestos;sourcedb=\\192.168.0.5\multifox\DATOS\dato.dbc;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes" providerName="System.Data.Odbc"/>
    <add name="ConnectionString1" connectionString="Dsn=CostosYpresupuestos;sourcedb=\\192.168.0.5\multifox\DATOS\dato.dbc;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes" providerName="System.Data.Odbc"/>
    <add name="ConnectionString2" connectionString="Dsn=CostosYpresupuestos;sourcedb=\\192.168.0.5\multifox\DATOS\dato.dbc;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes" providerName="System.Data.Odbc"/>
    <add name="ConnectionString3" connectionString="Dsn=CostosYpresupuestos;sourcedb=\\192.168.0.5\multifox\DATOS\dato.dbc;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes" providerName="System.Data.Odbc"/>
    <add name="ConnectionString4" connectionString="Dsn=CostosYpresupuestos;sourcedb=\\192.168.0.5\multifox\DATOS\dato.dbc;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes" providerName="System.Data.Odbc"/>
    <add name="ConnectionString5" connectionString="Dsn=CostosYpresupuestos;sourcedb=\\192.168.0.5\multifox\DATOS\dato.dbc;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes" providerName="System.Data.Odbc"/>
    <add name="ProjectServer_ReportingConnectionString" connectionString="Data Source=SERVIDOR2SP;Initial Catalog=ProjectServer_Reporting;User ID=sa;Password=Qwer1234" providerName="System.Data.SqlClient"/>
    <remove name="LocalMySqlServer"/>
    <add name="LocalMySqlServer" connectionString="password=root;user id=root" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <remove name="MySQLMembershipProvider"/>
        <add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" applicationName="/" description="MySqlSimpleMembership Application" connectionStringName="LocalMySqlServer" writeExceptionsToEventLog="False" autogenerateschema="True" enableExpireCallback="False" enablePasswordRetrieval="False" enablePasswordReset="True" requiresQuestionAndAnswer="True" requiresUniqueEmail="False" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <customErrors defaultRedirect="~/ErrorGenerico.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/Error404.aspx"/>
      <error statusCode="500" redirect="~/ErrorGenerico.aspx"/>
    </customErrors>
    <!--<customErrors mode="Off"/>-->
    <httpRuntime maxRequestLength="9000000" executionTimeout="10000000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="10000" enableVersionHeader="true"/>
    <sessionState mode="InProc" timeout="600" cookieless="AutoDetect"/>
    <siteMap>
      <providers>
        <remove name="MySqlSiteMapProvider"/>
      </providers>
    </siteMap>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
</configuration>