<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bll.Properties.Settings.ArchivoCostosConnectionString"
            connectionString="Data Source=.;Initial Catalog=ArchivoCostos;Integrated Security=True"
            providerName="System.Data.SqlClient" />

        <add name="ConnectionString" connectionString="Dsn=CostosYpresupuestos;sourcedb=\\192.168.0.11\multifox-nuevo\datos\dato.dbc;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes"
          providerName="System.Data.Odbc" />
        <add name="ConnectionString1" connectionString="Dsn=CostosYpresupuestos;sourcedb=\\192.168.0.11\multifox-nuevo\datos\dato.dbc;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes"
          providerName="System.Data.Odbc" />
        <add name="ConnectionString2" connectionString="Dsn=CostosYpresupuestos;sourcedb=\\192.168.0.11\multifox-nuevo\datos\dato.dbc;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes"
          providerName="System.Data.Odbc" />
        <add name="ConnectionString3" connectionString="Dsn=CostosYpresupuestos;sourcedb=\\192.168.0.11\multifox-nuevo\datos\dato.dbc;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes"
          providerName="System.Data.Odbc" />
        <add name="ConnectionString4" connectionString="Dsn=CostosYpresupuestos;sourcedb=\\192.168.0.11\multifox-nuevo\datos\dato.dbc;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes"
          providerName="System.Data.Odbc" />
        <add name="ConnectionString5" connectionString="Dsn=CostosYpresupuestos;sourcedb=\\192.168.0.11\multifox-nuevo\datos\dato.dbc;sourcetype=DBC;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes"
          providerName="System.Data.Odbc" />
        <add name="ProjectServer_ReportingConnectionString" connectionString="Data Source=SERVIDOR2SP;Initial Catalog=ProjectServer_Reporting;User ID=sa;Password=Qwer1234"
          providerName="System.Data.SqlClient" />
        
    </connectionStrings>
</configuration>